@import "tailwindcss";

html,
body,
* {
  cursor: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cream: #faf6f2;
  --nav-pink: #ed93b1;
  --accent-pink: #ff7bac;
  --footer-brown: #98562d;
  --card-gray: #ebebeb;
  --muted: #636260;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --color-nav-pink: var(--nav-pink);
  --color-accent-pink: var(--accent-pink);
  --color-footer-brown: var(--footer-brown);
  --color-card-gray: var(--card-gray);
  --color-muted: var(--muted);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-geneva: Geneva, Verdana, sans-serif;
  --font-roboto: var(--font-roboto);
  --font-garamond: var(--font-eb-garamond);
  --font-danhand: var(--font-danhand);
  --font-sf:
    -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display",
    "Segoe UI", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--cream);
  color: var(--foreground);
  font-family: var(--font-sf);
}
